@import './base.css';

* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

#app {
    font-weight: normal;
    padding: 2rem;
    background-color: var(--color-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {

    .landing-zone {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            span {
                display: block;
                margin-left: .5rem;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        small {
            margin-top: 1rem;
            line-height: 2rem;
            opacity: .7;
        }

        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin-top: 1rem;
            list-style: none;
            font-size: .8rem;

            li {
                padding: .5rem;
            }
        }
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding: 1rem 2rem;
        background-color: var(--color-background);
        border-bottom: solid 1px var(--color-border);

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: .7rem;

            a {
                color: var(--color-text);
                text-decoration: none;
                transition: color 0.5s;

                &:hover {
                    color: var(--color-link);
                }
            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        padding: 1rem 2rem;
        background-color: var(--color-background);
        border-top: solid 1px var(--color-border);
        text-align: center;

        p {
            font-size: .5rem;
        }
    }

    a {
        color: var(--color-link);
        transition: color 0.5s;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            color: var(--color-link-hover);
        }

        &.active-link {
            color: var(--color-link);
        }
    }

    .dialog-box {
        border: dashed 3px var(--color-border);
        padding: 2px;
        font-size: 10px;
        width: 50vw;
        position: absolute;
        bottom: 70px;
        margin: 0 auto;
        background-color: var(--color-background-mute);

        div {
            border: dashed 3px var(--color-border);
            padding: 1rem;

            p {
                line-height: 220%;
            }
        }
    }

    .sprite {
        position: absolute;
        top: 25vh;
        margin: 0 auto;

        &:hover {
            cursor: pointer;
        }
    }
    .exclamation {
        position: absolute;
        top: 21vh;
        margin: 0 auto;
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        padding: 2rem;
        z-index: 2;
        border: dashed 3px var(--color-border);
        background-color: var(--color-background-soft);

        .modal-message {
            max-height: 50vh;
            overflow: auto;
            padding: 0 1rem;
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;

            button {
                background-color: var(--color-heading);
                border: none;
                padding: .5rem 1rem;
                margin-top: 15px;
                cursor: pointer;

                &:hover {
                    background-color: var(--color-link);
                }
            }
        }
    }

    p {
        font-size: .7rem;
        line-height: 1.5rem;
    }

    .message-response {
        font-size: .7rem;
        line-height: 1.5rem;
        margin: 1rem;
    }


    .cv {
        width: 50vw;
        height: 70vh;

        .onglets {
            display: flex;
            justify-content: start;
            align-items: center;
            font-size: .7rem;

            a {
                color: var(--color-text);
                text-decoration: none;
                border-top: solid 3px var(--color-border);
                border-left: solid 3px var(--color-border);
                border-right: solid 3px var(--color-border);
                padding: 1rem;
                transition: color 0.5s;
                margin: 0 1rem;
                display: flex;
                align-items: center;

                &:hover {
                    color: var(--color-link);
                }

                &.active-link {
                    color: var(--color-link);
                }

                img {
                    margin-right: 10px;
                }
            }
        }

        .cv-content {
            padding: 1rem 2rem;
            border: dashed 3px var(--color-border);
            background-color: var(--color-background-mute);
            overflow: auto;
            max-height: 60vh;

            small {
                font-size: .5rem;
                opacity: .7;
            }

            h5 {
                color: var(--color-link);
            }

            ul {
                font-size: .7rem;
                margin: 10px 0;

                li {
                    padding: 5px;
                    color: var(--color-heading);
                    line-height: 1.5rem;
                }
            }
        }

        .competences {
            display: flex;
            justify-content: space-between;

            .hard-skill {
                background-color: var(--color-background);
                border: solid 3px var(--color-border);
                padding: 1rem;
                width: 60%;

                .back-end {
                    margin: 1rem 0;
                }

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0;
                    list-style: none;

                    li {
                        padding: 5px 10px;
                        margin: 5px;
                        border: solid 1px var(--color-border);
                        background-color: var(--color-background-soft);
                    }
                }
            }
            .soft-skill {
                background-color: var(--color-background);
                border: solid 3px var(--color-border);
                padding: 1rem;
                width: 35%;
                height: fit-content;

                .forces {
                    margin: 1rem 0;
                }

                ul {
                    padding: 0;
                    list-style: none;

                }
            }
        }
    }
}
